td.sortable-td {
    /*min-width: 40px;*/
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

td > .sortable-column-btn {
    color: #007bff;
    cursor: pointer;
}

table tr:hover {
    background: #fff;
}

.sortable-column-empty {
    background-color: #ffc107;
    opacity: 0.8;
}